html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, button, input[type=text] {
  font-family: 'Bubbler One', sans-serif;
  letter-spacing: 2px; }

header .nav-wrapper .cel, header .nav-wrapper .far {
  padding: 5px 10px;
  border: 1px solid #172a2e; }

body {
  line-height: 1.5rem; }

button {
  font-size: 1rem;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer; }

.dropdown {
  display: flex;
  position: relative; }
  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background: #fff;
    z-index: 1;
    min-width: 200px;
    max-height: 400px;
    box-shadow: 0 5px 15px #172a2e;
    overflow: auto; }
  .dropdown:hover .dropdown-content {
    display: block; }

.dropdown-content a {
  display: block;
  font-weight: bold;
  padding: 5px 10px; }
  .dropdown-content a:hover {
    background: #e8b92e;
    color: #fff; }

header {
  height: 100px;
  display: grid;
  grid-template-columns: 450px 1fr;
  align-items: center; }
  header .nav-wrapper {
    display: flex;
    margin: 0 25px; }
    header .nav-wrapper button {
      font-weight: bold; }
      header .nav-wrapper button:first-child {
        margin-right: 15px; }
    header .nav-wrapper .cel {
      margin-left: auto; }
    header .nav-wrapper .active {
      background: #e8b92e;
      color: #fff; }
    header .nav-wrapper .far {
      border-left: 0; }
    header .nav-wrapper .favorities {
      color: #e8b92e; }
  header .search-wrapper {
    display: flex;
    padding: 0 25px; }
    header .search-wrapper button {
      width: 100px;
      padding: 10px 0;
      margin-left: 15px;
      background: #1565C0;
      color: #fff; }
      header .search-wrapper button:hover {
        background: #0D47A1; }

input[type=text] {
  flex: 1 1 auto;
  padding: 10px 15px;
  color: #172a2e;
  font-family: Helvetica;
  border: 1px solid #42A5F5; }
  input[type=text]::placeholder {
    color: #42A5F5;
    letter-spacing: 5px; }

main {
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 450px 1fr;
  color: #fff; }

.weather-today {
  padding: 15px 25px;
  background: #172a2e;
  position: relative; }
  .weather-today h1 {
    color: #e8b92e;
    font-weight: bold;
    margin: 20px 0;
    font-size: 2rem; }
    .weather-today h1 .city-country {
      color: #fff;
      font-weight: normal;
      font-size: 0.7em;
      margin-left: 10px; }
  .weather-today .today-main-values {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .weather-today .today-main-values .mainTemp {
      font-size: 5rem;
      line-height: normal; }
  .weather-today .description {
    color: #90CAF9;
    margin: 15px 0 20px 0;
    font-size: 1.3rem; }

.star {
  position: absolute;
  top: 0;
  right: 10px;
  color: #fff;
  font-size: 2rem; }
  .star:hover, .star:active, .star:focus {
    color: #e8b92e;
    transform: translateY(1px); }

table {
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #fff;
  border-collapse: separate;
  border-spacing: 0 5px; }
  table th {
    text-align: left; }
  table tr > * {
    width: 25%;
    vertical-align: top; }
  table td {
    text-align: center; }
    table td:last-child {
      text-align: right; }

.wind-dir {
  display: inline-block; }

.weather-forecast {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));
  align-content: start;
  padding: 50px 25px 25px 25px;
  overflow: auto;
  background: linear-gradient(to left, #0D47A1, #42A5F5); }
  .weather-forecast .day-forecast {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #fff;
    box-shadow: 5px 5px 20px #0D47A1;
    text-align: center; }
    .weather-forecast .day-forecast h2 {
      font-size: 1.5rem;
      font-weight: bold; }
    .weather-forecast .day-forecast p {
      font-size: 1.3rem;
      margin: 15px 0 20px 0; }
    .weather-forecast .day-forecast .main-values {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .weather-forecast .day-forecast .main-values ul {
        margin-left: 15px; }
      .weather-forecast .day-forecast .main-values ul li:first-child {
        font-size: 1.3rem; }
