.dropdown {
  display: flex;
  position: relative;

  .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background: #fff;
    z-index: 1;
    min-width: 200px;
    max-height: 400px;
    box-shadow: 0 5px 15px $dark-green;
    overflow: auto;
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-content a {
  display: block;
  font-weight: bold;
  padding: 5px 10px;

  &:hover {
  background: $yellow;
  color: #fff;
  }
}
